.project
attacchi_subiti/
git_build/
git_build_old/
gulp/
node_modules/
package-lock.json
package.json
robots.txt
sitemap.xml
website/.buildpath
website/.project
website/CEST2014/uploads/  
website/COST/documents/
website/COST/meetings/documents/
website/COST/private/.htaccess
website/COST/private/WGs/WG1_docs/
website/COST/private/uploads/
website/EMIDS/documenti/
website/aspect/.htaccess
website/aspect/.htpasswd
website/aspect/KMaps*
website/aspect/index.html
website/aspect/samples.zip
website/documenti/
website/download/XNAT-PIC-2.0.0-win32.msi
website/minified/
website/private/Enzo/.htaccess
website/private/Enzo/uploads/
website/private/INTA/.htaccess
website/private/INTA/intapass
website/private/INTA/uploads/
website/private/cataloghi/.htaccess
website/private/cataloghi/admin/.htaccess
website/private/cataloghi/admin/catalogpass
website/private/cataloghi/cimpass
website/private/cataloghi/data/
website/private/cataloghi/safety_info/
website/private/cataloghi/safety_info_in/
website/private/fantacalcio/
website/private/passwords/.htaccess
website/private/passwords/cimpass
website/private/phpDBBackup/
website/private/phpMyAdmin/
website/private/prenotazioni/.htaccess
website/private/prenotazioni/cimpass
website/research/MRI_sequences/package*
