/.project
/website/private/fantacalcio/777/logs/*.log
/website/aspect/.htaccess
/website/aspect/.htpasswd
/.settings
/website/private/Enzo/.htaccess
/website/private/Enzo/cimpass
/website/private/cataloghi/cimpass
/website/private/cataloghi/.htaccess
/website/private/fantacalcio/.htaccess
/website/private/fantacalcio/cimpass
/website/private/phpMyAdmin/.htaccess
/website/private/phpMyAdmin/cimpass
/website/private/prenotazioni/.htaccess
/website/private/prenotazioni/cimpass
/website/private/cataloghi/admin/.htaccess
/website/private/cataloghi/admin/catalogpass
/website/COST/private/.htaccess
/website/COST/private/costpass
/website/private/Enzo/uploads/*
/website/aspect/*.exe
/website/aspect/*.zip
/website/aspect/*.dmg
/website/aspect/*.tar.gz
/website/aspect/index.html
/website/aspect/update.sh
/website/private/INTA/.htaccess
/website/private/INTA/intapass
/website/.bash_history
/website/.htaccess
/website/.viminfo
/website/private/INTA/uploads/*
/site*
/website/private/fantacalcio/download/*.exe
/website/documenti/*
/website/COST/private/uploads/*
/website/.*
/website/COST/meetings/documents/*
/website/private/filemanager.php
*~
listaFormazioni.txt
*.ffs_db
.bash_history
/git
git_build/ 
.lesshst
.mc/
.ssh/
.viminfo
git_build/
robots.txt
website/COST/meetings/documents/
website/COST/private/uploads/
website/aspect/KMaps-*
website/aspect/samples.zip
website/documenti
website/COST/private/.htaccess
website/COST/private/WGs/WG*_docs/
website/private/Enzo/.htaccess
website/private/Enzo/uploads/
website/private/INTA/.htaccess
website/private/INTA/uploads/
website/private/cataloghi/.htaccess
website/private/cataloghi/cimpass
website/private/cataloghi/admin/.htaccess
website/private/cataloghi/admin/catalogpass
website/private/fantacalcio/.htaccess
website/private/fantacalcio/cimpass
website/private/fantacalcio/777/logs/
website/private/phpDBBackup/
website/private/phpMyAdmin/
website/private/prenotazioni/.htaccess
website/private/prenotazioni/cimpass
website/private/INTA/intapass
.bashrc
website/private/prenotazioni/db.log
