/.project
/website/private/fantacalcio/777/logs/*.log
/website/aspect/.htaccess
/website/aspect/.htpasswd
/.settings
/website/private/Enzo/.htaccess
/website/private/Enzo/cimpass
/website/private/cataloghi/cimpass
/website/private/cataloghi/.htaccess
/website/private/fantacalcio/.htaccess
/website/private/fantacalcio/cimpass
/website/private/phpMyAdmin/.htaccess
/website/private/phpMyAdmin/cimpass
/website/private/prenotazioni/.htaccess
/website/private/prenotazioni/cimpass
/website/private/cataloghi/admin/.htaccess
/website/private/cataloghi/admin/catalogpass
/website/COST/private/.htaccess
/website/COST/private/costpass
/website/private/Enzo/uploads/*
/website/aspect/*.exe
/website/aspect/*.zip
/website/aspect/*.dmg
/website/aspect/*.tar.gz
/website/aspect/index.html
/website/aspect/update.sh
/website/private/INTA/.htaccess
/website/private/INTA/intapass
/website/.bash_history
/website/.htaccess
/website/.viminfo
/website/private/INTA/uploads/*
/site*
/website-old/
/website/private/fantacalcio/download/*.exe
/website/documenti/*
/website/.mc/*
/website/.ssh/*
/website/COST/private/uploads/*
/website/.*
/website/COST/meetings/documents/*
/website/private/filemanager.php
*~
listaFormazioni.txt
*.ffs_db
.bash_history
/git
