RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ https://www.cim.unito.it/$1 [NC]
RewriteRule ^(?!website)(.*)$ website/$1 [NC]

RewriteRule ^(?=website)(website)$ $1/index.php [L,R=301,NC]
RewriteRule ^(?=website)(website\/)$ $1index.php [L,R=301,NC]
RewriteRule ^(?=website)(website\/index.php)$ $1 [L,R=301,NC]
RewriteRule ^(?=website)(website\/([^.]*[^/]))$ $1/index.php [L,R=301,NC]
RewriteRule ^(?=website)(website\/([^.]*\/))$ $1index.php [L,R=301,NC]
