table {
	empty-cells: show;
}

.strumento { border: medium; background: url(head.png); }
.welcome { font-size: 18px; color: #DB6D16; }

td {
	font-family: verdana, helvetica;
	font-size: 12px;
}

.bgWhite {
	background-color: #FFFFFF;
}

.bgBeige {
	color: #000000;
	background-color: #f8e8a0;
}

.bgPaleYellow {
	background-color: #ffffcc;
}

.whiteTextTitle {
	background-color: #ffffcc;
	text-align: center;
}

.head {
	font-weight: 500;
	font-size: 24px;
	color: #000000;
	font-family: Verdana, Helvetica;
}

.Error {
	width: 400px;
	background-color: #ff0000;
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.OK {
	width: 400px;
	background-color: #00ff00;
	text-align: center;
	color: #0000ff;
	font-size: 18px;
	font-weight: bold;
}

.warning { color: #FF0000; font-size: 14px; font-weight: bold; }

.dateEven {
	font-weight: bold;
	width: 65px;
	background-color: #ffffff;
	text-align: center;
}

.void {
	border: none;
}

.data {
	
}

.dateOdd {
	font-weight: bold;
	width: 65px;
	background-color: #f5f5c4;
	text-align: center;
}

.dateSab {
	color: #FF0000;
	font-weight: bold;
	width: 65px;
	background-color: #ddffdd;
	text-align: center;
}

.dateDom {
	color: #FF0000;
	font-weight: bold;
	width: 65px;
	background-color: #aaffaa;
	text-align: center;
}

th {
	background-color: #db6d16;
	color: white;
	text-align: left;
	font-weight: bold;
}

.removeButton {
	
}

th.headerName {
	width: 300px;
}

th.headerPlace {
	width: 50px;
}

th.headerQuantity {
	width: 65px;
}

th.headerLab {
	width: 50px;
}

th.headerNote {
	width: 175px;
}

th.headerRisk {
	width: 100px;
}

th.headerButton {
	
}

.userEven {
	background-color: #ffffff;
	text-align: center;
	width: 250px;
	font-weight: bold;
	color: #bb3902;
	border-bottom: none;
}

.userOdd {
	background-color: #f5f5c4;
	text-align: center;
	width: 250px;
	font-weight: bold;
	color: #bb3902;
	border-bottom: none;
}

.userSab {
	background-color: #ddffdd;
	text-align: center;
	width: 250px;
	font-weight: bold;
	color: #bb3902;
	border-bottom: none;
}

.userDom {
	background-color: #aaffaa;
	text-align: center;
	width: 250px;
	font-weight: bold;
	color: #bb3902;
	border-bottom: none;
}

.noteEven {
	background-color: #ffffff;
	text-align: center;
	width: 250px;
	color: #000000;
	font-style: italic;
	border-top: none;
}

.noteOdd {
	background-color: #f5f5c4;
	text-align: center;
	width: 250px;
	color: #000000;
	font-style: italic;
	border-top: none;
}

.noteSab {
	background-color: #ddffdd;
	text-align: center;
	width: 250px;
	color: #000000;
	font-style: italic;
	border-top: none;
}

.noteDom {
	background-color: #aaffaa;
	text-align: center;
	width: 250px;
	color: #000000;
	font-style: italic;
	border-top: none;
}

.fastExp {
	width: 50px;
	background-color: #f0f0f0;
}

.headerfastExp {
	width: 50px;
	background-color: #f8e8a0;
	font-weight: bold;
}

.redBold {
	color: #ff0000;
	font-weight: bold;
}

.blackBold {
	color: #000000;
	font-weight: bold;
}

.plusButton,.minusButton {
	vertical-align: bottom;
}