form.deleteForm {
	display: inline;
}
form.deleteForm input.deleteButton, form.uploadForm input.uploadButton {
	width: 25px;
	margin-right: 10px;
	display: inline;
}

#confirmDeletionHiddenBox {
	text-align: center;
	position: absolute;
	left: 40%;
	margin: auto;
	width: 20%;
	border: 2px solid #000000;
	padding: 10px;
	top: 50%;
	z-index: 999;
	background-color: #DB6D16;
	color: #FFFFFF;
}
/*
 #squadra1, #squadra2, #hiddenBoxHyphen, .passwordBoxTitle { }
 #offertaBoxMainTitle, #passwordBoxMainTitle { font-size:18px; }
 .offertaBoxTitle { }
 #hiddenBoxTitleBox { border: 1px solid; height: 30px; width: 350px; line-height: 30px; margin: auto; }
 .hiddenBoxSubTitleBox { border: 1px solid; height: 20px; width:250px; line-height: 20px; margin: auto; }
 */
/* stili per hiddenBoxes */
