div.colorBox { display:inline; }
input.colorBox { height:3em; }

div#PrenoCanc { margin:1em; }
div#booking-header { height:150px; padding:0em; background-color:#333333; }
div#headerLeft { float:left; margin:0em; padding:16px; height:68px; width:20%; text-align:left;}
div#headerRight { float:right; margin:0em; padding:16px; height:68px; width:65%; text-align:right;}
div#week { clear:right; }
div#main { margin:0; padding:0; visibility:visible; }
div#navigation {width: 800px; margin:0em; height:80px; margin-bottom: 30px;}
div#navLeft { width:200px; padding-top:20px; height:100%; float:left; margin:0em; text-align:left; }
div#navLeft div#leftArrow { float: left; }
div#navLeft div#leftPrevWeek { font-size: 14px; font-weight: bold; float: left; line-height: 50px; padding-left: 10px; }
div#navMiddleA { width:396px; padding-top:10px; margin:0; background-color:#DB6D16; font-weight: bold; color:#333333; height:100%; float:left; margin:0em; text-align:center; border: 2px solid #333333; }
div#navMiddleB { width:396px; padding-top:10px; margin:0; background-color:#333333; font-weight: bold; color:#DB6D16; height:100%; float:left; margin:0em; text-align:center; border: 2px solid #DB6D16; }
div#navRight { width:200px; padding-top:20px; height:100%; float:right; margin:0em; text-align:right; }
div#navRight div#rightArrow { float: right; }
div#navRight div#rightNextWeek { font-size: 14px; font-weight: bold; float: right; line-height: 50px; padding-right: 10px; } 
div#booking-table { margin:0em; padding:0em; padding-top:1em; width:100%; }
div#booking-table table#bookings { border: 2px solid #CCCCCC; border-collapse: collapse; font-size:12px; width:100%; }
div#booking-table table#bookings  th { border: 2px solid #DDDDDD; }
div#footer { margin:0em; padding:1em; padding-top:0em; height:90px; width:880px; text-align:center; }

.users { font-size: 20px; color: #FFFFFF; }

img.arrow { width:4em; }
p { font-weight:bold; }
table { empty-cells:show; }
span.date { color:#CCCCCC; font-size:12px; font-weight:bold; }
.orange { color:#FF6600; }
h1 { font-family: verdana, helvetica; font-size: 24px; font-weight: bold; color: #FF6600; padding:0; margin: 0 0 12px 0; }
/*a { font-family: verdana, helvetica; font-size: 12px; }*/

A:link { color:#EEEEEE; }
A:visited { color:#EEEEEE; }
A:active { color:#EEEEEE; }
A:hover { color:#EEEEEE; }

th { height:20px; text-align:center; font-weight:bold; }
th.WeekEnd { color:#FFFFFF; background-color:#DB6D16; }
th.Week { color:#DB6D16; background-color:#333333; }
th.Today { color:#DB6D16; background-color:#FFFFFF; }
td { width:120px; font-family: verdana, helvetica; font-weight:normal; text-align:center; }
td.Hour { width:20px; background-color:#333333; color:#CCCCCC; font-weight:bold; text-align:center; border: 1px solid #CCCCCC; }
td.Today { background-color:#FFFFFF; color:#333333;}
td.WE { background-color:#DB6D16; color:#FFFFFF; }
td.User { font-weight:bold; }
td.Free { cursor:pointer; border: 1px solid #CCCCCC; }
td.Occupied { border: 3px solid #DB6D16; cursor:pointer; }
td.OldFree { background:#999999; text-align:center; border: 1px solid #DDDDDD; }
td.OldOccupied { background:#666666; color:#CCCCCC; border: 3px solid #333333; }
td.left { border-right:none; }
td.right { border-left:none; }
td.Top { border-bottom:none; }
td.Bottom { border-top:none; }
td.Separate { border-bottom: 2px solid #CCCCCC; }
td.Unvisible { border:none; background-color:#DDDDDD; }
td.expVeloci{ color:#333333; }
.bold { font-weight:bold; }
.left { text-align:left; }
.right { text-align:right; }
.button { width:20%; }
.instrumentForm { height:100%; margin:auto; }
.instrumentButton { width:100%; height:16px; font-size:10px; font-weight:bold; background:#666666; color:#CCCCCC; border:1px solid #333333; cursor:pointer; padding:0; }

#newPrenoBox { font-size:12px; font-weight:bold; color:#EEEEEE; position:absolute; left:258px; margin:auto; width:40%; border:2px solid #DB6D16; background-color:#333333; padding:10px; }
#cancPrenoBox { font-size:12px; font-weight:bold; color:#EEEEEE; position:absolute; left:258px; margin:auto; width:40%; border:2px solid #DB6D16; background-color:#333333; padding:10px; }
.shadow { -moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.75); -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.75); box-shadow: 10px 10px 10px rgba(0,0,0,0.75); }
#warning { color:#FF6600; font-weight:bold; text-decoration:blink; visibility:hidden; }
#user { background-color:#FF9999; }
#submit { visibility:hidden; }
.hiddenData { position:absolute; top:100%; visibility:hidden; }
.enfasi { color:#DB6D16; }
.generalWarning { color:#FFF; font-size:14px; font-weight:bold;}
#generalWarningDiv { background-color:#F00; padding:10px; }
.blink { text-decoration:blink; }

div#conflict { margin:auto; padding:0; color:#FFFFFF; background-color: #FF0000; border: 1px solid #000000; width:600px; }
#conflictMessage { font-size:14px; font-weight:bold; text-align:center; }
#conflictTitle { font-size:20px; font-weight:bold; text-align:center; }

span.history { color: #666666; height: 34px; vertical-align: middle; padding-left: 5px; display: inline-block; font-weight: bold; }
#excel_icon { height: 24px; }

