table#passwords { font-size: 12px; text-align: center; }
table#passwords .col1 { width: 60px; }
table#passwords .col2 { width: 120px; }
table#passwords .col3 { width: 120px; }
table#passwords th { background-color: #DB6D16; line-height: 5px; color: #FFFFFF; border: none; }
