/* ::::: null ::::: */
#Demo4 { padding: 0px; width:800px; margin: 0px; border:none; }
.DragContainer, .OverDragContainer { margin: 0px; padding: 0px; float: left; width:25%; }
.DragBox, .OverDragBox, .DragDragBox, .miniDragBox { padding: 2px; font-size: 10px; margin:10px auto 10px; width: 100px; cursor:pointer ; font-family: verdana,tahoma,arial; }
.OverDragContainer { background-color: rgb(238, 238, 238); }
.OverDragBox, .DragDragBox { }
.DragDragBox { }
.History { overflow: auto; font-size: 10px; width: 100%; font-family: verdana,tahoma,arial; height: 82px; }
.miniDragBox { margin: 0pt 5px 5px 0pt; float: left; width: 20px; height: 20px; }

/* ::::: null ::::: */

#container { padding:0pt; width: 800px;}
#content { border-left: 1px solid rgb(255, 207, 0); padding: 16px 10px 0pt; margin-left: 0px; font-family: Arial,Helvetica,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 0.8em; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }

/* ::::::: stili aggiunti da me :::::::: */
#counterPorTitolari,
#counterDifTitolari,
#counterCenTitolari,
#counterAttTitolari,
#counterPorRiserve,
#counterDifRiserve,
#counterCenRiserve,
#counterAttRiserve,
#counterPorTribuna,
#counterDifTribuna,
#counterCenTribuna,
#counterAttTribuna { display:none; }

.nameComplete { display:none; }
#sceltaModuli { width:800px; height:25px; border:solid; border-width:2px 2px 1px 2px; border-color:dragdropBorderColor; background-color:modulesChoiceBkgd; }
.moduloBox { width:114px; text-align:center; line-height:20px; color: textColor0; background-color: textColor1; cursor:pointer; }
.defaultModule { color:textColor4; background-color:textColor0; }
#modulesChoiceTable { border-collapse:collapse; height:100%; }
#chosenModule { display:none; }
#campo { width:800px; height:250px; background-image:url(dragdrop/images/grass_crop.jpg); background-position:center; border:solid; border-width:1px 2px 1px 2px; border-color:dragdropBorderColor; }
#bench { width:800px; height:115px; background-image:url(dragdrop/images/bench_crop.jpg); background-position:center; border:solid; border-width:1px 2px 1px 2px; border-color:dragdropBorderColor; }
#tribuna { width:800px; height:150px; background-image:url(dragdrop/images/tribune_crop.jpg); background-position:center; border:solid; border-width:1px 2px 2px 2px; border-color:dragdropBorderColor; }
#container, #gestFormazSend { margin:auto; }