#banner_wrapper {
	clear: both;
	width: 100%;
}
.banner {
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 958px;
	border: 0 2 0 2;
	border-color: #333;
	/*top: 0px;*/
	background: #FED;
	border: solid 1px #CCC;
}
.banner h1 {
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*right: 20px;*/
	font-style: italic;
	color: #444;
	/*float: right;*/
	/*width: 50%;*/
	font-size: 16px;
	text-align: right;
	line-height: 100%;
}
#banner1 {
	background-image: url(banner1.jpg);
}
#banner2 {
	background-image: url(banner2.jpg);
}
#banner3 {
	background: #F90
}
#banner4 {
	background: #FFC
}
#banner5 {
	background: #99CCFF
}
