#banner_wrapper {
	clear: both;
	width: 100%;
}
.banner {
	position: absolute;
	z-index: 1;
	height: 30px;
	width: 936px;
	/*top: 0px;*/
	border: solid 2px bannerBorderSide;
	border-bottom: solid 4px bannerBorderBottom;
	border-top: none;
	background: textColor1;
	padding: 0 10px 0 10px;
}
.banner h1 {
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*right: 20px;*/
	font-style: italic;
	color: #444;
	/*float: right;*/
	/*width: 50%;*/
	font-size: 16px;
	text-align: left;
	line-height: 100%;
}
#banner1 {
}
#banner2 {
}
#banner3 {
}
#banner4 {
}
#banner5 {
}
