
/* 
 * STILI GENERALI
 * * * * * * * * * */
html { background-color: #000000; /*background-image: url("./figure/ball_three.png");*/}
body { 	background-color:#FFFFFF; color:textColor0; margin:auto; width:960px; font-size:75%; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:center;} 

#title { background-color:bkgdColorMenu; color:titleColor; font-size:3em; font-weight:bold; line-height:60px; margin-top:20px; border:2px solid borderColor; border-bottom:none;}
#menu { background-color:bkgdColorMenu; font-size:1em; font-weight:bold; border:2px solid borderColor; border-top:none; border-bottom:4px solid menuColor;}
#main { background-color:bkgdColorNormal; font-size:12px; border-left:2px solid textColor0; border-right:2px solid borderColor; padding-bottom:16px; padding-top:16px; }
#footer { background-color:bkgdColorMenu; border:2px solid borderColor; border-top:4px solid textColor4; font-size:1em; text-align:center; bottom: 0; margin-bottom:20px; }

tr.tableline {border-bottom:solid; border-bottom-color:tablelineBorder; border-width:1px; }
.sorteggio { color:#FF0000; }
.button { cursor: pointer; color: textColor0; background-color:textColor4; border-color:textColor1; border:solid; border-width:1px; margin:auto; }

/*
 * AVULSE
 * * * * */
#avulse{ display:none; margin:auto; padding: 0 40px 0 40px; }
#avulse table.classifica { color: avulseTextColor;}
#avulse_wrapper{ padding-top:15px; width:500px; margin:auto; border:1px solid textColor0; background-color:avulseBkgdColor; display:block; }
#avulsa0, #avulsa1, #avulsa2, #avulsa3 { display:none; width:500px; margin:auto; }
#avulseToggleButton { margin:auto; }

/*
 * HOME CAMPIONATO
 * * * * * * * * * * * * */
table.classifica{ border:none; border-collapse:collapse; border-spacing:0px; margin:auto;}
table.classifica th{ width:1em; font-size:0.8em; color: textColor0; }
table.classifica td.Squadra{ text-align:right; width:12em; border:none}
table.classifica td.Squadra a:link { color: textColor0; text-decoration:none; text-align:right; width:12em; border:none}
table.classifica td.Squadra a:visited { color: textColor0; text-decoration:none; text-align:right; width:12em; border:none}
table.classifica td.Squadra a:active { color: textColor0; text-decoration:none; text-align:right; width:12em; border:none}
table.classifica td.Squadra a:hover { color: textColor4; text-decoration:none; text-align:right; width:12em; border:none}
table.classifica td.Dati{ color:textColor0; text-align:center; width:2em; border:none; height:1.5em; }
table.classifica td.DatiWide{ color:textColor0; text-align:center; width:3em; border:none; height:1.5em; }
table.classificaBarre{ empty-cells:show; border:none; color:textColor0; margin:auto;}
table.classificaBarre td.Squadra{ text-align:right; }
table.classificaBarre td.Squadra a:link { color: textColor0; text-decoration:none; text-align:right; }
table.classificaBarre td.Squadra a:visited { color: textColor0; text-decoration:none; text-align:right; }
table.classificaBarre td.Squadra a:active { color: textColor0; text-decoration:none; text-align:right; }
table.classificaBarre td.Squadra a:hover { color: textColor4; text-decoration:none; text-align:right; }
table.classificaBarre td.Punti{ text-align:center; color:textColor0; }
table.classificaBarre td.Barra{ background-color:barraColor0; text-align:right; color:textColor1; font-size:0.8em; }
table.classificaBarre td.Barra0{ background-color:barraColor0; text-align:right; color:color2; font-size:0.8em; }
table.classificaBarre td.Barra1{ background-color:barraColor1; text-align:right; color:textColor0; font-size:0.8em; }
table.classificaBarre td.Barra2{ background-color:barraColor2; text-align:right; color:textColor0; font-size:0.8em; }
table.classificaBarre td.Barra3{ background-color:barraColor3; text-align:right; color:textColor0; font-size:0.8em; }

/*
 * HIDDEN BOXES
 * * * * * * * */
#hiddenBox, #hiddenOfferBox, #hiddenPasswordBox { position:absolute; left:30%; margin:auto; width:40%; border:2px solid borderColor; background-color:bkgdHiddenBox; color:textHiddenBox; padding:10px; }
#squadra1, #squadra2, #hiddenBoxHyphen, .passwordBoxTitle { color:titleHiddenBox; font-size: 14px; }
#offertaBoxMainTitle, #passwordBoxMainTitle { color:specialColor; font-size:18px; }
.offertaBoxTitle { color:textHiddenBox; } 
#hiddenBoxTitleBox { background-color: textColor0; border: 1px solid textColor1; height: 30px; width: 350px; line-height: 30px; margin: auto; }
.hiddenBoxSubTitleBox { background-color: bkgdColorNormal; border: 1px solid textColor0; height: 20px; width:250px; line-height: 20px; margin: auto; }

/*
 * RISULTATI CAMPIONATO
 * * * * * * * * * * * * */
table.risultati tr.odd{ background-color: campRowOddBkgd; }
table.risultati tr.even{ background-color: campRowEvenBkgd; }
table.risultati tr.odd td.Dati { color: campRowOdd; }
table.risultati tr.even td.Dati { color: campRowEven; }
table.risultati tr.odd td.Squadra a:link { color: campRowOdd; text-decoration:none; }
table.risultati tr.odd td.Squadra a:visited { color: campRowOdd; text-decoration:none; }
table.risultati tr.odd td.Squadra a:active { color: campRowOdd; text-decoration:none; }
table.risultati tr.odd td.Squadra a:hover { color: textColor4; text-decoration:none; }
table.risultati tr.even td.Squadra a:link { color: campRowEven; text-decoration:none; }
table.risultati tr.even td.Squadra a:visited { color: campRowEven; text-decoration:none; }
table.risultati tr.even td.Squadra a:active { color: campRowEven; text-decoration:none; }
table.risultati tr.even td.Squadra a:hover { color: textColor1; text-decoration:none; }
table.risultati td.Squadra{ width:190px; }
table.risultati div.Risultati{ width:100%; }
table.risultati div.Punteggi{ width:100%; font-size:0.7em; font-weight:normal; }

/*
 * COPPA
 * * * * */
#coppa_gruppi, #classifica_gruppi, #semifinali_coppa, #finali_coppa{ margin:auto;}
table.coppa { border-collapse:collapse; padding:0; margin:0; width:100%; }
table.coppa td{ padding:0; height:25px; }
table.classifica_gruppi_coppa { width: 550px; }
table#coppa_gruppi td.coppaSinistra{ width:150px; text-align:left; background-color:textColor1; }
table#coppa_gruppi td.coppaSinistra a:link{ color:linkCoppaLeft; text-decoration:none; }             
table#coppa_gruppi td.coppaSinistra a:visited{ color:linkCoppaLeftVisited; text-decoration:none;}   
table#coppa_gruppi td.coppaSinistra a:active{ color:linkCoppaLeftActive; text-decoration:none;}     
table#coppa_gruppi td.coppaSinistra a:hover{ color:linkCoppaLeftHover; text-decoration:none;}       
table#coppa_gruppi td.coppaDestra{ width:150px; text-align:right; background-color:textColor0; }
table#coppa_gruppi td.coppaDestra a:link{ color:linkCoppaRightLink; text-decoration:none;}             
table#coppa_gruppi td.coppaDestra a:visited{ color:linkCoppaRightVisited; text-decoration:none;}   
table#coppa_gruppi td.coppaDestra a:active{ color:linkCoppaRightActive; text-decoration:none;}     
table#coppa_gruppi td.coppaDestra a:hover{ color:linkCoppaRightHover; text-decoration:none;}       
table#coppa_gruppi td.datiCoppaSinistra{ cursor: pointer; text-align:center; background-color:textColor1; color:textColor0; }
table#coppa_gruppi td.datiCoppaDestra{ cursor: pointer; text-align:center; background-color:textColor0; color:textColor1; }
table#semifinali_coppa td.coppaSinistra{ width:150px; text-align:left; background-color:textColor1; }
table#semifinali_coppa td.coppaSinistra a:link{ color:linkCoppaLeft; text-decoration:none; }             
table#semifinali_coppa td.coppaSinistra a:visited{ color:linkCoppaLeftVisited; text-decoration:none;}   
table#semifinali_coppa td.coppaSinistra a:active{ color:linkCoppaLeftActive; text-decoration:none;}     
table#semifinali_coppa td.coppaSinistra a:hover{ color:linkCoppaLeftHover; text-decoration:none;}       
table#semifinali_coppa td.coppaDestra{ width:150px; text-align:right; background-color:textColor0; }
table#semifinali_coppa td.coppaDestra a:link{ color:linkCoppaRightLink; text-decoration:none;}             
table#semifinali_coppa td.coppaDestra a:visited{ color:linkCoppaRightVisited; text-decoration:none;}   
table#semifinali_coppa td.coppaDestra a:active{ color:linkCoppaRightActive; text-decoration:none;}     
table#semifinali_coppa td.coppaDestra a:hover{ color:linkCoppaRightHover; text-decoration:none;}       
table#semifinali_coppa td.datiCoppaSinistra{ cursor: pointer; text-align:center; background-color:textColor1; color:textColor0; }
table#semifinali_coppa td.datiCoppaDestra{ cursor: pointer; text-align:center; background-color:textColor0; color:textColor1; }
table#finali_coppa td.coppaSinistra{ width:150px; text-align:left; background-color:textColor1; }
table#finali_coppa td.coppaSinistra a:link{ color:linkCoppaLeft; text-decoration:none; }             
table#finali_coppa td.coppaSinistra a:visited{ color:linkCoppaLeftVisited; text-decoration:none;}   
table#finali_coppa td.coppaSinistra a:active{ color:linkCoppaLeftActive; text-decoration:none;}     
table#finali_coppa td.coppaSinistra a:hover{ color:linkCoppaLeftHover; text-decoration:none;}       
table#finali_coppa td.coppaDestra{ width:150px; text-align:right; background-color:textColor0; }
table#finali_coppa td.coppaDestra a:link{ color:linkCoppaRightLink; text-decoration:none;}             
table#finali_coppa td.coppaDestra a:visited{ color:linkCoppaRightVisited; text-decoration:none;}   
table#finali_coppa td.coppaDestra a:active{ color:linkCoppaRightActive; text-decoration:none;}     
table#finali_coppa td.coppaDestra a:hover{ color:linkCoppaRightHover; text-decoration:none;}       
table#finali_coppa td.datiCoppaSinistra{ cursor: pointer; text-align:center; background-color:textColor1; color:textColor0; }
table#finali_coppa td.datiCoppaDestra{ cursor: pointer; text-align:center; background-color:textColor0; color:textColor1; }
.coppaFinaliSinistra{ text-align:center; background-color:textColor1; color:textColor0; }
.coppaFinaliDestra{ text-align:center; background-color:textColor0; color:textColor1; }
#coppaWinner{  }
.coppaCentro{ text-align:center; background-color:textColor0; color:textColor1; }
.coppaWinner{ text-align:center; background-color:textColor0; color:specialColor; }

/*
 * MARCATORI
 * * * * * * */
table.marcatori{ width:15%; border:none; margin:auto; border-collapse:collapse; }
table.marcatori th{ color:textColor0; }
table.marcatori tr.odd{ color:textColor0; background-color:textColor1; text-align:left; }
table.marcatori tr.even{ color:textColor1; background-color:textColor0; text-align:left; }
#showAll { width: 100px; display: none; }

/*
 * SQUADRE
 * * * * * */
table#tableRosa th { color:textColor0; }
table#tableRosa td.titolare{ color:textColor0; }
table#tableRosa td.riserva{ color:textColor4; }
table#tableRosa td.tribuna{ color:color7; }
table.rosafooter td { color: textColor0;}
table.rosafooter td.testo{ text-align:right; width:9em; }
table.rosafooter td.capitale{ text-align:left; width:3em; }
table.rosafooter td.telefono{ text-align:left; width:8em; }
table.rosafooter td.buttonVista{ text-align:left; width:22em; }
td.Nome { text-align:right; color:textColor0; font-size:2em; width:318px; }
td.Immagine { text-align:center; width:320px; }
td.Storico { text-align:left; width:318px; }
td.Immagine img { border:1px solid textColor1; }
span.stagione{ color:textColor0; }
span.primo, span.coppe { background-color:historyColor1; color: textColor0; }
span.secondo{ background-color:historyColor2; color: textColor0; }
span.terzo{ background-color:historyColor3; color: textColor0; }
span.quarto{ background-color:historyColor4; color: textColor0; } 
span.quinto{ background-color:historyColor5; color: textColor0; }
span.sesto{ background-color:historyColor5; color: textColor0; }
span.settimo{ background-color:historyColor7; color:color5; }
span.ottavo{ background-color:historyColor7; color:color5; }
span.oldName{ color:textColor0; }
#vista { empty-cells:show; width:50%; border:solid 1px vistaBorderColor; background-color:bkgdColorDarker; font-size:10px; font-weight:bold; text-align:center; color:textColor0; padding:5px; margin:auto; }
#vista_head { font-weight:bold; font-size:14px; text-align:left; padding-left:20px; }
#selectedVista { color:textColor0; }
.vistaRowHeader { color:textColor0; }
#ultima0, #ultima1, #ultima2, #ultima3, #ultima4, #ultima5, #ultima6, #ultima7,
#title0, #title1, #title2, #title3, #title4, #title5, #title6, #title7 
{ border:1px solid borderColor; width:40px; height:30px; background-color: unselectedVistaBkgdColor;}
.buttonModify{ text-align:center; width:600px; height:50px; border:solid 1px textColor0; background-color:bkgdColorDarker; margin:auto; }
p.ultimaFormazione { color: color7; } 

/*
 * MODIFY
 * * * * */
span.titolare{ color:textColor0; }
span.riserva{ color:textColor4; }     
span.tribuna{ color:color7; } 
#wrapper-ruoli{ border:1px solid textColor0; padding:10px; background-color:bkgdColorDarker; width:640px; margin:auto;} 
#ruolo0{ padding:10px; width:300px; height:240px; float:left;}
#ruolo1{ padding:10px; width:300px; height:320px; margin-left:320px;}
#ruolo2{ padding:10px; width:300px; height:320px; float:left; margin-top:-60px;}
#ruolo3{ padding:10px; width:300px; height:260px; margin-left:320px;}
#wrapper-moduli{ border:1px solid textColor0; padding:10px; background-color:bkgdColorDarker; width:600px; margin:auto;} 
#wrapper-changePassword{ border:1px solid textColor0; padding:10px; background-color:bkgdColorDarker; width:350px; margin:auto;} 
#gestRosaSend { margin:auto;}

/*
 * PLAYERS
 * * * * * */
.owned { color: textColor6; }
.free { color: textColor0; }
#por { display:block; }
#dif, #cen, #att { display:none; }
#choosePlayersDiv { background-color: textColor4; margin:auto; width:200px; height:25px; border:1px solid #000; }
.playersDiv { width:25%; height:100%; line-height:25px; margin:auto; float:left; cursor:pointer; }
div.tableContainer { border:1px solid textColor1; height:402px; overflow:auto; width:740px; margin:auto; }
div.tableContainer table { float:left; width:100%; } 
html > body tbody.scrollContent { display:block; overflow:auto; } 
tbody.scrollContent tr.normalRow, tbody.scrollContent tr.alternateRow { height:15px; width:750px; line-height: 15px; }
tbody.scrollContent tr.normalRow td { background:none repeat scroll 0 0 textColor4; border-color: plBorderColor; border-style:solid solid none none; border-width:1px 1px medium medium; padding:2px 0 3px 0; } 
tbody.scrollContent tr.alternateRow td { background:none repeat scroll 0 0 textColor1; border-color:plBorderColor; border-style:solid solid none none; border-width:1px 1px medium medium; padding:2px 0 3px 0; } 
div.playersTableWrap { height:480px; width:750px; margin:auto; padding:0; border:1px solid textColor0; }
div.playersTableWrap tr.titleRow { position:relative; display:block; background-color:color4; height:40px; } 
div.playersTableWrap tr.titleRow td { color:textColor1; text-align:center; width:750px; line-height:40px; } 
div.playersTableWrap tr.headerRow { position:relative; display:block; width:750px; background-color:color3; height:30px; } 
div.playersTableWrap tr.headerRow td { color:textColor2; font-size:10px; background:none repeat scroll 0 0 color3; border:none; padding:2px 0 3px 0; } 
div.headerContainer { width:100%; height:82px; }
div.headerFirstRow { width:100%; height:40px; background-color:plFirstRowBkg; color:plFirstRowColor; line-height:40px; }
div.headerSecondRow { width:100%; height:30px; background-color:plSecondRowBkg; color:plSecondRowColor; font-size:10px; }
div.headerSecondRow div { margin:auto; float:left; cursor:pointer; }
div.headerSecondRow div.header0 { width:173px; padding-top:8px; } 
div.headerSecondRow div.header1 { width:122px; padding-top:8px; } 
div.headerSecondRow div.header2 { width:101px; padding-top:8px; } 
div.headerSecondRow div.header3 { width:70px; padding-top:8px; }
div.headerSecondRow div.header4 { width:70px; padding-top:2px; } 
div.headerSecondRow div.header5 { width:70px; padding-top:8px; } 
div.headerSecondRow div.header6 { width:70px; padding-top:2px; }
div.headerSecondRow div.header7 { width:52px; padding-top:2px; }
div.headerThirdRow { width:100%; height:12px; background-color:textColor0; }
div.headerThirdRow div { margin:auto; float:left; cursor:pointer; }
div.headerThirdRow div.header0 { width:173px; } 
div.headerThirdRow div.header1 { width:122px; } 
div.headerThirdRow div.header2 { width:101px; } 
div.headerThirdRow div.header3 { width:70px; }
div.headerThirdRow div.header4 { width:70px; } 
div.headerThirdRow div.header5 { width:70px; } 
div.headerThirdRow div.header6 { width:70px; }
div.headerThirdRow div.header6 { width:52px; }

/*
 * ALBI
 * * * * */
.albo { width:75%; margin:auto; margin-top:16px; margin-bottom:16px; }
table.albo a{ width:80%; border:none; border-collapse:collapse; border-spacing:0px; text-decoration: none;  }
table.albo a:link { color:color7; }
table.albo a:active { color:color7; }
table.albo a:visited { color:color7; }
table.albo a:hover { color:textColor4; }
table.albo th { color:textColor0; }
table.albo td.marcatore {color: color7; }
table.albo tr.tableline {border-bottom: 1px solid textColor1; }

/*
 * DOWNLOAD
 * * * * * */
table#downloads { line-height: 20px; height: 20px; }
td a:link, p a:link { color:color7; text-deco
ration: none;}
td a:active, p a:active { color:color7; text-decoration: none;}
td a:visited, p a:visited { color:color7; text-decoration: none;}
td a:hover, p a:hover { color:textColor4; text-decoration: none;}
th { color:color7; font-size:1.2em}
img.new { vertical-align: middle; }

/****/
table.title { border:none; width:30em; }
table.menu { border:none; width:90em;  }
table.risultati { width:700px; border:none; color:textColor0; text-align:center; margin:auto; }
table.mainSquadre{ width:90%; border:none; color:textColor1; margin:auto; }
table.regole { width:80%; border:none; color:textColor0; margin:auto; }
table.rosa{ width:80%; text-align:center; border:none; border-collapse:collapse; border-spacing:0px; margin:auto; }
table.rosafooter { width:80%; border:none; color:textColor1; margin:auto; }
table.modificatore{ margin:auto; color: textColor0; }

table.download { width:80%; border:none; color:textColor1; }
#download_pre{ width:360px; margin:auto; }
#download_coppa{ width:360px; margin:auto; }
#download_campionato{ width:480px; margin:auto; }

table.main h2 { color:textColor0; font-size:1.5em; }
table.main h2.modify { color:textColor1; font-size:1.5em; }

h1.title{ text-align:center; font-size:2em; margin:0; color:sectionTitleColor; }
h2.giornata { text-align:center; font-size:1em}
h3{ text-align:right; color:#00FFFF; font-family:Arial, Helvetica, sans-serif; font-size:small; font-weight: bold; }
h4{	font-family:Arial, Helvetica, sans-serif; font-style:normal; font-weight:bold; text-align:right; color:textColor2}

#a000, #a001, #a002, #a003, 
#a010, #a011, #a012, #a013,
#a020, #a021, #a022, #a023,
#a030, #a031, #a032, #a033,
#a040, #a041, #a042, #a043, 
#a050, #a051, #a052, #a053, 
#a060, #a061, #a062, #a063, 
#a100, #a101, #a102, #a103, 
#a110, #a111, #a112, #a113,
#a120, #a121, #a122, #a123, 
#a130, #a131, #a132, #a133,
#a140, #a141, #a142, #a143,
#a150, #a151, #a152, #a153,
#a160, #a161, #a162, #a163,
#a200, #a201, #a202, #a203, 
#a210, #a211, #a212, #a213,
#a220, #a221, #a222, #a223, 
#a230, #a231, #a232, #a233,
#a240, #a241, #a242, #a243, 
#a340, #a341, #a342, #a343,
#a250, #a251, #a252, #a253, 
#a260, #a261, #a262, #a263, 
#a300, #a301, #a302, #a303, 
#a310, #a311, #a312, #a313,
#a320, #a321, #a322, #a323, 
#a330, #a331, #a332, #a333,
#a350, #a351, #a352, #a353,
#a360, #a361, #a362, #a363,
#quarti0-0, #quarti1-0, #quarti2-0, #quarti3-0,
#quarti4-0, #quarti5-0, #quarti6-0, #quarti7-0,
#quarti0-1, #quarti1-1, #quarti2-1, #quarti3-1,
#quarti4-1, #quarti5-1, #quarti6-1, #quarti7-1,
#semi0-0, #semi1-0, #semi2-0, #semi3-0,
#semi4-0, #semi5-0, #semi6-0, #semi7-0,
#semi0-1, #semi1-1, #semi2-1, #semi3-1,
#semi4-1, #semi5-1, #semi6-1, #semi7-1,
#finali0-0, #finali1-0, #finali2-0, #finali3-0,
#finali4-0, #finali5-0, #finali6-0, #finali7-0,
#finali0-1, #finali1-1, #finali2-1, #finali3-1,
#finali4-1, #finali5-1, #finali6-1, #finali7-1 { cursor:pointer; }

.pointer { cursor:pointer; }

.RisultatiCampionato{ width:100%; text-align:center;}
.PunteggiCampionato{ width:100%; font-size:0.7em; text-align:center;}
.RisultatiCoppa{ width:100%; text-align:center; }
.PunteggiCoppa{ width:100%; font-size:0.7em; text-align:center; }
.RisultatiOld{ text-align:center; }
.header{ text-align:center; background-color:bkgdColorNormal; color:textColor0; }
.void-5{ width:5px; }
.void-25{ width:25px; }
.void-37{ width:37px; }
.void-100{ width:120px; }

table.modificatore { width:50%; font-size:0.8em; }
table.modificatore th{ text-align:left; color:textColor0}
table.modificatore th.header{ text-align:center; color:textColor0; }
table.modificatore th.header2{ text-align:center; color:textColor0; }
table.modificatore td{ text-align:left; color:textColor0; }
table.modificatore td.values{ text-align:center; color:textColor0; }

table.albo td.squadra { color:textColor0; }
table.albo span.presidente{ color:textColor0}

table.regoleCalendario { border:none; width:65em; text-align:center;}
.regoleTitoli{ color:textColor0; }
#mercato_example { color: textColor1;}

th.intestazionePunti { text-align:center; width:2em; }
th.intestazione { text-align:left; width:12em; }

span { font-weight:bold; }

.imagelink a:link{color:bkgdColorNormal}
.imagelink a:visited{color:bkgdColorNormal}
.imagelink a:active{color:bkgdColorNormal}
.imagelink a:hover{color:bkgdColorNormal}

p {color:textColor0; font-size:1em; }

.left  { text-align:left; }
.right  { text-align:right; }
.center { text-align:center; }
.justify { text-align:justify; }

#version { color:textColor1; }

.hidden { display:none; }
.goals { display:none; height:30px;}
.noBorder { border:none; } 
.notFound { color:textColor6; }
#moduli { width:95%; text-align:center;}

td.bodyColumn0 { width:172px; } 
td.bodyColumn1 { width:121px; } 
td.bodyColumn2 { width:100px; } 
td.bodyColumn3, td.bodyColumn4, td.bodyColumn5, td.bodyColumn6 { width:70px; }
td.bodyColumn7 { width:52px; } 

div.scrollTableContainer { height:398px; overflow:auto; width:100%; margin:auto; overflow-x:hidden; }
div.scrollTableContainer table { float:left; width:100%; } 

#sortingWarningBox { width:100px; height:20px; line-height:20px; display:none; border:1px solid textColor1; margin:auto; }

#arrowColumn0_0, #arrowColumn0_1, #arrowColumn0_2, #arrowColumn0_3, #arrowColumn0_4, #arrowColumn0_5, #arrowColumn0_6,
#arrowColumn1_0, #arrowColumn1_1, #arrowColumn1_2, #arrowColumn1_3, #arrowColumn1_4, #arrowColumn1_5, #arrowColumn1_6,
#arrowColumn2_0, #arrowColumn2_1, #arrowColumn2_2, #arrowColumn2_3, #arrowColumn2_4, #arrowColumn2_5, #arrowColumn2_6,
#arrowColumn3_0, #arrowColumn3_1, #arrowColumn3_2, #arrowColumn3_3, #arrowColumn3_4, #arrowColumn3_5, #arrowColumn3_6 { background-image:url(figure/no_Arrow.png); background-repeat:no-repeat; background-position:bottom; height:12px; }
#arrowColumn0_0, #arrowColumn1_0, #arrowColumn2_0, #arrowColumn3_0 { background-image:url(figure/up_Arrow_innerWhite.png); }
/* stili per players.php */

/* stili per lista files (dragdrop.php e offerte.php)*/
#listaFilesDisp, #listaOfferte { width:600px; margin:auto; }
#row { clear:both; }
#archive { float:left; width:75px; height:25px; margin:0; padding:0; }
#usa { width:50px; float:left; padding:0; }
#view { width:90px; float:left; padding:0; }
#nomeFile { float:left; text-align:left; height:25px; margin:0; line-height: 25px; }
span.data { font-size: 10px; color: color7;}
#unlock { width:90px; float:left; padding:0; }
#unlockBtn, viewBtn, archiveBtn { width:80px; }
#archiveButton { width:100px; }
/* stili per lista files (dragdrop.php e offerte.php)*/
