/* CSS Document */

/* general styles */
*:before,*:after{box-sizing:inherit}
html { margin: 10px; padding: 0; background-color:#666666; height:100%; }
body { margin: 0; padding: 0; text-align: left; font-family: Arial, Helvetica, Verdana, Sans-serif; font-size: 12px; color: #666666; height:100% /* important for footer at the bottom */; }
.hidden { display: none; }
h1 { margin: 0; padding: 10px; font-size:24px; }
h2 { font-size:20px; font-weight: bold;	}
h3 { font-size:14px; font-weight:bold; text-align:center; }
/*h3 { font-size:12px; text-align:center; }*/
.button { background-color:#e4e4e4; color:#db6d16; font-weight:bold; border:none; }
.images { border:1px solid #000; }
.fullWidtdh { width:630px; }
.teamTitle { text-align:left; color:#DB6D16; }
.underline { text-decoration: underline; }
/*     
 * after: nelle pagine sara' posizionato dopo la subsection e non visibile,
 * ma serve ad evitare che il footer copra parte dei contenuti     
 */
#after { clear:both; display: block; height: 96px; visibility:hidden; background-color:#9966CC; }
.displayInfoBox { color: #db6d16; }
.infoBox { background-color:#FFF; width:450px; border:2px solid #666; padding:10px; text-align:justify; margin:auto; position:fixed; }
/* general styles */

/* SECTION SPECIFIC STYLES*/
#section0, 
#section1, 
#section2, 
#section3, 
#section4, 
#section5, 
#section6, 
#section7,
#sectionAutoDip { 
	
	margin: auto; 
	width: 1200px; 
	position:relative; 
	clear:both; 

/* --> important for footer at the bottom */
min-height: 100%;             
/* For Modern Browsers */
height: auto !important;
/* For Modern Browsers */ 
height: 100%;
/* For IE */ 
/* <-- important for footer at the bottom */

	border: 3px #333333 solid; background: #ffffff url(images/sidebar-bkg-ltgray.jpg); background-repeat:repeat-y; background-position: -1px 0; }

/* --> comportamento dei link non selezionati */
#main-nav #main-nav-section0 a:hover, 
#main-nav #main-nav-section1 a:hover, 
#main-nav #main-nav-section2 a:hover, 
#main-nav #main-nav-section3 a:hover, 
#main-nav #main-nav-section4 a:hover, 
#main-nav #main-nav-section5 a:hover, 
#main-nav #main-nav-section6 a:hover, 
#main-nav #main-nav-section7 a:hover { color: #333333; }
#main-nav #main-nav-section0 a { width: 71px; color:#666666; }
#main-nav #main-nav-section1 a { width: 80px; color:#666666; }
#main-nav #main-nav-section2 a { width: 71px; color:#666666; }
#main-nav #main-nav-section3 a { width: 80px; color:#666666; }
#main-nav #main-nav-section4 a { width: 80px; color:#666666; }
#main-nav #main-nav-section5 a { width: 80px; color:#666666; }
#main-nav #main-nav-section6 a { width: 110px; color:#666666; }
#main-nav #main-nav-section7 a { width: 90px; color:#666666; }
/* <-- end */

/* comportamento dei link selezionati */
#section0 #main-nav-section0 a, 
#section0 #main-nav-section0 a:hover, 
#section1 #main-nav-section1 a, 
#section1 #main-nav-section1 a:hover, 
#section2 #main-nav-section2 a, 
#section2 #main-nav-section2 a:hover, 
#section3 #main-nav-section3 a, 
#section3 #main-nav-section3 a:hover, 
#section4 #main-nav-section4 a, 
#section4 #main-nav-section4 a:hover, 
#section5 #main-nav-section5 a, 
#section5 #main-nav-section5 a:hover, 
#section6 #main-nav-section6 a, 
#section6 #main-nav-section6 a:hover, 
#section7 #main-nav-section7 a, 
#section7 #main-nav-section7 a:hover { background-color:#e4e4e4; color:#db6d16; }
/* <-- end */

#section0 #header, 
#section1 #header, 
#section2 #header, 
#section3 #header, 
#section4 #header, 
#section5 #header, 
#section6 #header,
#section7 #header { height: 200px; background: url(images/header_large.jpg); }
#sectionAutoDip #header {  }

/* END OF SECTION SPECIFIC STYLES */

/* MAIN NAVIGATION */
#main-nav { height: 50px; background-color:#ffffff; }
#main-nav dl { margin: 0; padding: 0; }
#main-nav dt { float: left; }
#main-nav dt a { display: block; height: 50px; padding: 0; overflow: hidden; text-decoration:none; text-align:center; line-height:50px; font-weight:bold; }

/* IE5 Mac Hack \*/
#main-nav { padding-left: 11px; }

/*/
#main-nav { padding-left: 11px; overflow: hidden; }
/* End Hack */
/* End of MAIN NAVIGATION */

/* SIDEBAR */
#pubsSelector { margin: 19px; }
#sidebar { float: left; width: 200px; font-weight:bold; padding: 0; }
#sidebar-narrow { float: left; width: 80px; font-weight:bold; padding: 0; }
#sidebar-narrower { float: left; width: 0px; font-weight:bold; padding: 0; }
#sidebar .padding { padding: 25px 8px 25px 12px; }
#sidebar #sidebar-subsection0, 
#sidebar #sidebar-subsection1, 
#sidebar #sidebar-subsection2, 
#sidebar #sidebar-subsection3, 
#sidebar #sidebar-subsection4, 
#sidebar #sidebar-subsection5,
#sidebar #sidebar-subsection6, 
#sidebar #sidebar-subsection7,
#sidebar #sidebar-subsection8 { height:22px; padding: 0; margin: 0; text-align:left; }
.sidebar-header { color: #DB6D16; text-decoration: none; display: block; line-height:22px; padding: 0 10px 0 10px; }
.sidebar-indent { padding-left:15px; }

/* --> comportamento dei link non selezionati */
#sidebar .subsection_link a { color: #666666; text-decoration: none; display: block; line-height:22px; padding: 0 10px 0 10px; }
/* <-- End */

/* --> comportamento dei link selezionati */
/* gestito in script.js ( funzione changeSideNavStyles() ) */
/* <-- comportamento dei link selezionati */

/* <-- End */
/* End of SIDEBAR */

/* SWF PLAYER */
#player { margin:auto; }
/* End of SWF PLAYER */

/* CONTENT */
#content { float: right; width:1000px; line-height: 22px; padding: 0; }
#content-large { float: right; width: 950px; line-height: 22px; padding: 0; }
#content-larger { float: right; width: 950px; line-height: 22px; padding: 0; }
#content-largerAutoDip { float: right; width: 1150px; line-height: 22px; padding: 0; }
#content .paddingOuter { padding: 25px; }
#content .paddingInner { padding: 0px 25px; }
#content-large .paddingOuter { padding: 25px; }
#content-large .paddingInner { padding: 0px 25px; }
#content-larger .paddingOuter { padding: 25px; }
#content-larger .paddingInner { padding: 0px 25px; }
#content-largerAutoDip .paddingOuter { padding: 25px; }
#content-largerAutoDip .paddingInner { padding: 0px 25px; }
#content h2, p { margin: 0; padding: 0; padding-bottom: 15px; }
#content p { text-align:justify; }
#content .indent { text-indent:30px; }
#content .superscript .subscript { font-size:8px; }
#content a.visible_link { color:#db6d16; text-decoration: underline;}
#content a.seq_link { font-weight:bold; text-decoration:underline; cursor:pointer}#content a { color:#666666; text-decoration:none; }
#content a:hover { color:#db6d16; }
#content-large a { color:#666666; text-decoration:none; }
#content-large a:hover { color:#db6d16; }
#content .imgCenter { text-align:center; margin:10px auto; border:1px solid #cccccc; padding:5px; }
#content .imgLeft { float:left; margin:10px 15px 10px 0; border:1px solid #cccccc; padding:5px; }
#content .imgRight { float:right; margin:10px 0 10px 15px; border:1px solid #cccccc; padding:5px; }
.band { height:45px; width:100%; background-color:#db6d16; margin-bottom:20px; }
.subsectionTitle { font-weight:bold; font-size:24px; color:#FFFFFF; margin:0px; padding:10px; }
/* End of CONTENT */

/* FOOTER */
#footer {
    position: absolute;
    clear: both;
    color: #999999;
    border-top: 1px solid #cccccc;
    margin: auto;
    padding: 10px 0px 0px 0px;
    line-height: 12px;
    height: 90px;
    width: 100%;
    font-size: 10px;
    bottom: 0 !important;
    font-family: Tahoma, Arial, Helvetica, Sans-serif;
    text-align: center;
}

#footer p { margin: 0; padding: 5px 0 5px 0; }
#footer p img { border:none; }
#footer, .personal_contacts a { color: #999999; text-decoration: none; }
#footer, .personal_contacts a:HOVER { color: #db6d16; }
/* End of FOOTER */

/* VALIDATORS */
#validators { position:absolute; clear: both; color: #999999; margin: auto; padding: 10px 25px 0px 25px; line-height: 12px; height: 86px; width: 851px; font-size: 10px; bottom: 0 !important; font-family: Tahoma, Arial, Helvetica, Sans-serif; text-align: right; }
#validators p { margin: 0; padding: 5px 0 5px 0; }
#validators p img { border:none; }
/* End of VALIDATORS */

/* STAFF */
.person { width:540px; height:26px; padding: 0; margin-bottom: 5px; overflow:hidden; clear:both; }
.personal_image { display: none; background: #ffffff; width: 152px; height: 180px; float:right; }
.personal_image img { border: 1px solid #cccccc; width: 150px; height: 180px; }
.personal_contacts { border: 1px solid #cccccc; width:538px; height: 24px; padding:0; overflow: hidden; }
.clickable { width:528px; height:18px; background-color:#e4e4e4; cursor:pointer; padding:1px 5px 5px 5px; }
.name { float:left; width:200px; height:16px; }
.position { float:right; text-align:right; border:none; height:16px; width:250px; display:block; }
.contacts { clear:both; padding:12px 5px; cursor:default; }
/* End of STAFF */

/* COLUMNS in index.html */
.divider { margin:8px 0px; height:2px; background:url(images/divider.gif) repeat-x scroll left top transparent; clear:left;}
/*.divider-small { margin:8px 0px; height:2px; background:url(images/divider.gif) repeat-x scroll left top transparent; }*/
#columnWrapper { height:auto; margin:auto; background:url(images/divider-vertical-3-col.gif) repeat-y scroll 207px 0 transparent !important; overflow:auto; }
#columnWrapper h2 { padding-bottom:4px; }
#col1 { width:200px; float:left; margin-right:5px; }
#col2 { width:200px; float:left; margin:0px 10px; }
#col3 { width:200px; float:left; margin-left:5px;}
.date { display: block; font-weight: bold; }
.punch { background: none repeat scroll 0 0 white; border-bottom: 2px solid #cccccc; margin: 0 0 7px -7px; padding-bottom: 4px; }
.punch span { background: none repeat scroll 0 0 #003664; color: white; display: block; font-weight: bold; padding: 4px 7px; }
.orange span { background: none repeat scroll 0 0 #db6d16; }
.purple span { background: none repeat scroll 0 0 #B518B5; }
/* End of COLUMNS in index.html */

/* publications table */ 
.paperTitle { font-style:italic; font-weight:bold; color:#db6d16; }
.paperTitle:HOVER { text-decoration: underline; }
.paperJnl { font-weight:bold; text-transform:uppercase; }
.paperVol { font-style:italic; }
#publicationYear { padding-top:20px; }
#publicationsContainer { padding-top:30px; }
.abstractButton { cursor:pointer; display:inline-block; width: 60px; height: 20px; background-color: #e4e4e4; border: 2px solid #cccccc; text-align: center; color: #666666; font-weight: bold; }
#singlePubContainer { width:100%; margin: 0px auto; color: #000; /*This is the font-color*/ background-color: #FFFFFF; }
.abstract {	padding:10px; margin-bottom:10px; background-color:#e4e4e4; border: 1px solid #cccccc; margin-top: 10px; display:none; width:100%; overflow: auto; float: right; /*Floats this column to the right, rather than positioning it*/ }
/*.abstract { display:none; width: 100%; height: 30px; background-color: #e4e4e4; border: 1px solid #cccccc; margin-top: 10px; }*/
/* End of publications table */ 

/* PROBES2009 */
.probes2009 { max-width: 100px; max-height:100px;}
#partners { border:solid 2px #333; border-collapse:collapse; text-align:center; }
#partners td, th { border:solid 1px #333; padding:10px; }
#partners th { background-color:#DDDDDD; }
/* End of PROBES2009 */

/* PROBES2011 */
#lecture_notes {margin: auto; text-align: center; border: 1px solid #000000; border-collapse:collapse;}
#lecture_notes td { border: 1px solid #000000; padding: 5px;}
#lecture_notes tr { border: 1px solid #000000}
#lecture_notes th { background-color: #DDDDDD}
#lecture_notes .lecture_title {font-weight: bold; text-align: center; padding: 0;}
#lecture_notes .lecture_author {font-size: 80%; text-align: center; padding: 0;}
#lecture_notes td.available { background-color: #CCFFCC}
#lecture_notes p.hour { text-align: center;} 
/* End of PROBES2011 */

/* HYPERPOLARIZATION */
#DNP-Box, #PHIP-Box { display:none; }
/* End of HYPERPOLARIZATION */

div.hide { display: none; background-color:#ffc396; padding:10px; border-radius:10px; }
li.myHoverPlace:hover > div.hide { display: block; }

.centered { position: fixed; top: 50%; left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.table { display:table; width:100%; }
.firstCol { width:200px; }
.secondCol { width:400px; }
.tableCell { display:table-cell; }
.tableRow { display:table-row; }

/* stylesheet aggiunti da Dario Longo da w3.css*/
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}.w3-cell-title{display:table-cell; border-bottom: 1px dashed gray}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}

a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:0 8px}
.w3-row-padding{padding: 1em 0 1em 0; max-width:900px; margin-left:auto; margin-right:auto; position:relative;}
.w3-container,.w3-panel{padding:0.01em 10px; margin-top:10px;margin-bottom:10px; position:relative; max-width:900px; margin-left:auto; margin-right:auto;}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-half{width:49.99999%}
.w3-quarter{float:left;width:24.99999%; margin-bottom:auto;  margin-top:auto;}
.w3-image{height:auto;display: block; margin: auto;}a{color:inherit}
.w3-image-left {margin: 0 1em 1em 0; box-shadow: 10px 10px 5px grey; border-radius: 8px; width:170px; display: inline-block; vertical-align: top; text-align: center;}
.w3-figure-caption {display: block;}
.w3-header{display:block;}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-tiny{font-size:10px!important}.w3-small{font-size:12px!important}.w3-medium{font-size:15px!important}.w3-large{font-size:18px!important}
.w3-xlarge{font-size:24px!important}.w3-xxlarge{font-size:36px!important}.w3-xxxlarge{font-size:48px!important}.w3-jumbo{font-size:64px!important}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-position{position:absolute}
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #808080!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 1s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%; margin-bottom:auto;  margin-top:auto;}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}

h11 {font-size:36px}
h13 {font-size:24px}
h14{font-size:20px}
h15{font-size:18px}
h16{font-size:16px}
.w3-serif{font-family:serif}
h11,/*h12,*/h13,h14,h15,h16 {font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:8px 0}
.w3-wide{letter-spacing:4px}
.PIname { font-size:15px; font-weight:bold; color:black; }
.PIname:HOVER { text-decoration: underline; }
h13:hover { font-size:24px;}

.mySlides {display:none}
.animSlides, .animSlides2 {display:none}
.myslides:hover {
    -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-image-box {
	height:auto;display: block; margin: auto; width: 50%;
	box-shadow: 8px 8px 10px #aaa;
	border-radius: 10px;
}
.w3-image-box-noshadow {
	height:auto;display: block; margin: auto; width: 50%;
	box-shadow: 1px 1px 1px #aaa;
}

/*.animated {
  animation-duration: 5s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}*/

/* Colors */
.w3-amber,.w3-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.w3-aqua,.w3-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-light-blue,.w3-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.w3-brown,.w3-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.w3-cyan,.w3-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.w3-blue-grey,.w3-hover-blue-grey:hover,.w3-blue-gray,.w3-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-light-green,.w3-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.w3-indigo,.w3-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.w3-khaki,.w3-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-orange,.w3-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.w3-deep-orange,.w3-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.w3-pink,.w3-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-deep-purple,.w3-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-sand,.w3-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-black-inv,.w3-hover-black-inv:hover{color:#000!important;background-color:#fff!important}
.w3-gray-inv,.w3-hover-gray-inv:hover{color:#808080!important;background-color:#fff!important}
.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.w3-text-amber,.w3-hover-text-amber:hover{color:#ffc107!important}
.w3-text-aqua,.w3-hover-text-aqua:hover{color:#00ffff!important}
.w3-text-blue,.w3-hover-text-blue:hover{color:#2196F3!important}
.w3-text-light-blue,.w3-hover-text-light-blue:hover{color:#87CEEB!important}
.w3-text-brown,.w3-hover-text-brown:hover{color:#795548!important}
.w3-text-cyan,.w3-hover-text-cyan:hover{color:#00bcd4!important}
.w3-text-blue-grey,.w3-hover-text-blue-grey:hover,.w3-text-blue-gray,.w3-hover-text-blue-gray:hover{color:#607d8b!important}
.w3-text-green,.w3-hover-text-green:hover{color:#4CAF50!important}
.w3-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}
.w3-text-indigo,.w3-hover-text-indigo:hover{color:#3f51b5!important}
.w3-text-khaki,.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#cddc39!important}
.w3-text-orange,.w3-hover-text-orange:hover{color:#ff9800!important}
.w3-text-deep-orange,.w3-hover-text-deep-orange:hover{color:#ff5722!important}
.w3-text-pink,.w3-hover-text-pink:hover{color:#e91e63!important}
.w3-text-purple,.w3-hover-text-purple:hover{color:#9c27b0!important}
.w3-text-deep-purple,.w3-hover-text-deep-purple:hover{color:#673ab7!important}
.w3-text-red,.w3-hover-text-red:hover{color:#f44336!important}
.w3-text-sand,.w3-hover-text-sand:hover{color:#fdf5e6!important}
.w3-text-teal,.w3-hover-text-teal:hover{color:#009688!important}
.w3-text-yellow,.w3-hover-text-yellow:hover{color:#d2be0e!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-text-black,.w3-hover-text-black:hover{color:#000!important}
.w3-text-grey,.w3-hover-text-grey:hover,.w3-text-gray,.w3-hover-text-gray:hover{color:#757575!important}
.w3-text-light-grey,.w3-hover-text-light-grey:hover,.w3-text-light-gray,.w3-hover-text-light-gray:hover{color:#f1f1f1!important}
.w3-text-dark-grey,.w3-hover-text-dark-grey:hover,.w3-text-dark-gray,.w3-hover-text-dark-gray:hover{color:#3a3a3a!important}
.w3-border-amber,.w3-hover-border-amber:hover{border-color:#ffc107!important}
.w3-border-aqua,.w3-hover-border-aqua:hover{border-color:#00ffff!important}
.w3-border-blue,.w3-hover-border-blue:hover{border-color:#2196F3!important}
.w3-border-light-blue,.w3-hover-border-light-blue:hover{border-color:#87CEEB!important}
.w3-border-brown,.w3-hover-border-brown:hover{border-color:#795548!important}
.w3-border-cyan,.w3-hover-border-cyan:hover{border-color:#00bcd4!important}
.w3-border-blue-grey,.w3-hover-border-blue-grey:hover,.w3-border-blue-gray,.w3-hover-border-blue-gray:hover{border-color:#607d8b!important}
.w3-border-green,.w3-hover-border-green:hover{border-color:#4CAF50!important}
.w3-border-light-green,.w3-hover-border-light-green:hover{border-color:#8bc34a!important}
.w3-border-indigo,.w3-hover-border-indigo:hover{border-color:#3f51b5!important}
.w3-border-khaki,.w3-hover-border-khaki:hover{border-color:#f0e68c!important}
.w3-border-lime,.w3-hover-border-lime:hover{border-color:#cddc39!important}
.w3-border-orange,.w3-hover-border-orange:hover{border-color:#ff9800!important}
.w3-border-deep-orange,.w3-hover-border-deep-orange:hover{border-color:#ff5722!important}
.w3-border-pink,.w3-hover-border-pink:hover{border-color:#e91e63!important}
.w3-border-purple,.w3-hover-border-purple:hover{border-color:#9c27b0!important}
.w3-border-deep-purple,.w3-hover-border-deep-purple:hover{border-color:#673ab7!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}
.w3-border-sand,.w3-hover-border-sand:hover{border-color:#fdf5e6!important}
.w3-border-teal,.w3-hover-border-teal:hover{border-color:#009688!important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#ffeb3b!important}
.w3-border-white,.w3-hover-border-white:hover{border-color:#fff!important}
.w3-border-black,.w3-hover-border-black:hover{border-color:#000!important}
.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}
.w3-border-light-grey,.w3-hover-border-light-grey:hover,.w3-border-light-gray,.w3-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.w3-border-dark-grey,.w3-hover-border-dark-grey:hover,.w3-border-dark-gray,.w3-hover-border-dark-gray:hover{border-color:#616161!important}
.w3-border-pale-red,.w3-hover-border-pale-red:hover{border-color:#ffe7e7!important}.w3-border-pale-green,.w3-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.w3-border-pale-yellow,.w3-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.w3-border-pale-blue,.w3-hover-border-pale-blue:hover{border-color:#e7ffff!important}

