/* CSS Document */

/* general styles */
*::before, *::after {
	box-sizing: inherit
}

#header-mobile, #sidebar-mobile {
	display: none;
}

#main-nav{
	display: block;
}

html {
	margin: 0.75rem;
	padding: 0;
	background-color: #666;
	height: 100%;
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 0.75rem;
	color: #666;
	height: 100% /* important for footer at the bottom */;
	min-width: 370px;
}

h1 {
	font-size: 1.5rem;
}
content
h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

h3 {
	font-size: 1.00rem;
	font-weight: bold;
	text-align: center;
}

.button {
	background-color: #e4e4e4;
	color: #db6d16;
	font-weight: bold;
	border: none;
}

.imageBorder {
	border: 1px solid #000;
}

.fullMaxWidth {
	max-width: 100%;
}
/*     
 * after: nelle pagine sara' posizionato dopo la subsection e non visibile,
 * ma serve ad evitare che il footer copra parte dei contenuti     
 */
#after {
	clear: both;
	display: block;
	height: 6.00rem;
	visibility: hidden;
	background-color: #9966CC;
}

.displayInfoBox {
	color: #db6d16;
}

.infoBox {
	background-color: #FFF;
	width: 28.00rem;
	border: 2px solid #666;
	padding: 0.75rem;
	text-align: justify;
	margin: auto;
	position: fixed;
}
/* general styles */

/* SECTION SPECIFIC STYLES*/
#section0, #section1, #section2, #section3, #section4, #section5,
	#section6, #section7, #section8, #sectionAutoDip {
	border: 3px #333 solid;
	margin: auto;
	/*width: 75.00rem;*/
	position: relative;
	clear: both;
	/* --> important for footer at the bottom */
	min-height: 100%;
	/* For Modern Browsers */
	height: auto !important;
	/* For Modern Browsers */
	height: 100%;
	/* For IE */
	/* <-- important for footer at the bottom */
	background-color: #fff;
	background-image: url(https://www.cim.unito.it/website/images/sidebar-bkg-ltgray.jpg);
	background-repeat: repeat-y;
	background-position: -1px 0;
	clear: both;
}

/* --> comportamento dei link non selezionati */
#main-nav [id^="main-nav-section"] a:hover{
	color: #333;
}
#main-nav [id^="main-nav-section"] a {
	color: #666;
}
#main-nav #main-nav-section0 a {
	width: 4.40rem;
}
#main-nav #main-nav-section1 a {
	width: 5.00rem;
}
#main-nav #main-nav-section2 a {
	width: 4.50rem;
}
#main-nav #main-nav-section3 a {
	width: 5.00rem;
}
#main-nav #main-nav-section4 a {
	width: 5.00rem;
}
#main-nav #main-nav-section5 a {
	width: 5.00rem;
}
#main-nav #main-nav-section6 a {
	width: 6.90rem;
}
#main-nav #main-nav-section7 a {
	width: 5.60rem;
}
#main-nav #main-nav-section8 a {
	width: 4.00rem;
}
/* <-- end */

/* comportamento dei link selezionati */
#section0 #main-nav-section0 a, #section0 #main-nav-section0 a:hover,
#section1 #main-nav-section1 a, #section1 #main-nav-section1 a:hover,
#section2 #main-nav-section2 a, #section2 #main-nav-section2 a:hover,
#section3 #main-nav-section3 a, #section3 #main-nav-section3 a:hover,
#section4 #main-nav-section4 a, #section4 #main-nav-section4 a:hover,
#section5 #main-nav-section5 a, #section5 #main-nav-section5 a:hover,
#section6 #main-nav-section6 a, #section6 #main-nav-section6 a:hover,
#section7 #main-nav-section7 a, #section7 #main-nav-section7 a:hover,
#section8 #main-nav-section8 a, #section8 #main-nav-section8 a:hover {
	background-color: #e4e4e4;
	color: #db6d16;
}
/* <-- end */
[id^="section"] #header {
	height: 200px;
	background-image: url(https://www.cim.unito.it/website/images/header_large.webp);
	background-size: contain;
	width: 100%;
	z-index: 1;
}

/* END OF SECTION SPECIFIC STYLES */

/* MAIN NAVIGATION */
#main-nav {
	height: 3.15rem;
	background-color: #fff;
}

#main-nav dl {
	margin: 0;
	padding: 0;
}

#main-nav dt {
	float: left;
}

#main-nav dt a {
	display: block;
	/*height: 3.15rem;*/
	padding: 0;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	/*line-height: 3.15rem;*/
	font-weight: bold;
}

#main-nav {
	padding-left: 0.65rem;
}
/* End of MAIN NAVIGATION */

/* SIDEBAR */
#pubsSelector {
	margin: 1.20rem;
}

#list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#sidebar {
	float: left;
	width: 12.50rem;
	font-weight: bold;
	padding: 0;
}

#sidebar-narrow {
	float: left;
	width: 5.00rem;
	font-weight: bold;
	padding: 0;
}

#sidebar-narrower {
	float: left;
	width: 0;
	font-weight: bold;
	padding: 0;
}

#sidebar .padding {
	padding: 1.50rem 0.5rem 1.50rem 0.75rem;
}

#sidebar #sidebar-subsection0, #sidebar #sidebar-subsection1, #sidebar #sidebar-subsection2,
	#sidebar #sidebar-subsection3, #sidebar #sidebar-subsection4, #sidebar #sidebar-subsection5,
	#sidebar #sidebar-subsection6, #sidebar #sidebar-subsection7, #sidebar #sidebar-subsection8
	{
	height: 1.40rem;
	padding: 0;
	margin: 0;
	text-align: left;
}

.sidebar-header {
	color: #db6d16;
	text-decoration: none;
	display: block;
	line-height: 1.40rem;
	padding: 0 0.75rem 0 0.75rem;
}

.sidebar-indent {
	padding-left: 1.00rem;
}

/* --> comportamento dei link non selezionati */
#sidebar .subsection_link a {
	color: #666;
	display: block;
	line-height: 1.5rem;
	padding: 0 0.75rem 0 0.75rem;
	text-decoration: none;
}
/* <-- End */

/* --> comportamento dei link selezionati */
/* gestito in script.js ( funzione changeSideNavStyles() ) */
/* <-- comportamento dei link selezionati */

/* <-- End */
/* End of SIDEBAR */

/* SWF PLAYER */
#player {
	margin: auto;
}
/* End of SWF PLAYER */

/* CONTENT */
#content {
	float: right;
	width: 62.50rem;
	line-height: 1.5rem;
	padding: 0;
}

/*#content-larger {
	float: right;
	width: 60.00rem;
	line-height: 1.5rem;
	padding: 0;
}*/
#content-largerAutoDip {
	float: right;
	width: 72.00rem;
	line-height: 1.5rem;
	padding: 0;
}

[id^="content"] .paddingOuter {
	padding: 1.50rem;
}

[id^="content"] .paddingInner {
	padding: 1.00rem 1.50rem 0 1.50rem;
}

#content h2, p {
	margin: 0;
	padding: 0;
	padding-bottom: 1.00rem;
}

#content p {
	text-align: justify;
}

#content .indent {
	text-indent: 1.90rem;
}

#content .superscript .subscript {
	font-size: 0.50rem;
}

#content a.visible_link {
	color: #db6d16;
	text-decoration: underline;
}

#content a.seq_link {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer
}

#content a {
	color: #666;
	text-decoration: none;
}

#content a:hover {
	color: #db6d16;
}

#content-large a {
	color: #666;
	text-decoration: none;
}

#content-large a:hover {
	color: #db6d16;
}

#content .imgCenter {
	display: flex;
	justify-content: center;
	flex-direction: column;
    clear: both;
}
#content .imgCenter > img {
	max-width: 100%;
	margin: auto;
}

#content .imgLeft {
	float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 0.75rem;
}

#content .imgLeft > img {
	max-width: 100%;
}
	
.flex-container-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.flex-container-column {
	display: flex;
	flex-direction: column;
}

/* STYLE for xnat */
.xnat-features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.xnat-features > .feature {
	display: flex;
	flex-direction: column;
	padding: 0 5px 0 5px;
	width:30%;
}
.xnat-features > .feature > img {
	height: auto;
}
.xnat-features > .feature > div {
	text-align: center;
}

.xnat-acknowledgements {
	flex: 21%;
	margin: 1.00rem;
}
.xnat-acknowledgements > a {
	display:flex;
	width: 100%;
}
.xnat-acknowledgements img {
	max-width: 100%;
	max-height: 100px;
	margin: auto;
}
/* END of STYLE for xnat */

.band {
	height: 3rem;
	width: 100%;
	background-color: #db6d16;
	margin-bottom: 0.25rem;
}

.subsectionTitle {
	font-weight: bold;
	font-size: 1.5rem;
	color: #fff;
	margin: 0;
	padding: 0.75rem;
}

.img_ind_partners {
	width: 33%;
	float: left;
	padding-right: 0.50rem;
}

#hiddenBox {
	border-radius: 10px;
	border: 5px solid black;
	z-index: 1;
	width: 600px;
	display: none;
	visibility: hidden;
	font-weight: bold;
	color: #db6d16;
	background-color: #000d;
	padding: 16px;
}

/* STAFF.PHP styles */
ul.staff {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 720px;
	margin: auto;
	justify-content: center;
}

li.staff {
	max-height: 135px;
	max-width: 135px;
	display: flex;
	flex-grow: 1;
	margin: 0.25rem;
	align-content: center;
	justify-content: center;
	border-radius: 5%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

li.staff > div {
	background-color: rgba(0, 0, 0, 0);
	padding: 1.0rem;
	border-radius: 5%;
}

li.staff:hover > div {
	background-color: rgba(0, 0, 0, 0.5);}

li.staff a {
	color: #fff;
	font-size: 1.0rem;
}

li.staff a > span {
	visibility: hidden;
}

li.staff:hover a > span {
	visibility: visible;
}
/* End of STAFF.PHP styles */

/* styles for staff/ */
div.staff {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
div.staff>div.staff-img {
	flex: 1 1 33%;
}
div.staff>div.staff-desc {
	flex: 1 1 66%;
}
/* END of styles for staff/ */

/* Styles for research section */
ul.research {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
}
ul.research > li.research {
	width:200px;
}
div.research > div.img_link {
	display: flex;
}
div.research > div.PIName {
	display: flex;
}

/* End of styles for research section */

/* End of CONTENT */

/* FOOTER */
#footer {
	position: absolute;
	clear: both;
	color: #999;
	border-top: 1px solid #ccc;
	margin: auto;
	padding: 0.75rem 0 0 0;
	line-height: 0.75rem;
	height: 5.60rem;
	width: 100%;
	font-size: 0.75rem;
	bottom: 0 !important;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	text-align: center;
}

#footer p {
	margin: 0;
	padding: 0.40rem 0 0.40rem 0;
}

#footer p img {
	border: none;
}

#footer, .personal_contacts a {
	color: #999;
	text-decoration: none;
}

#footer, .personal_contacts a:hover {
	color: #db6d16;
}
/* End of FOOTER */

/* VALIDATORS */
#validators {
	position: absolute;
	clear: both;
	color: #999;
	margin: auto;
	padding: 0.40rem 1.50rem 0 1.50rem;
	line-height: 0.75rem;
	height: 5.60rem;
	width: 53.20rem;
	font-size: 0.75rem;
	bottom: 0 !important;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	text-align: right;
}

#validators p {
	margin: 0;
	padding: 0.40rem 0 0.40rem 0;
}

#validators p img {
	border: none;
}
/* End of VALIDATORS */

/* STAFF */
.person {
	width: 33.75rem;
	height: 2.00rem;
	padding: 0;
	margin-bottom: 0.4rem;
	overflow: hidden;
	clear: both;
}

.personal_image {
	display: none;
	background: #fff;
	width: 9.50rem;
	height: 11.25rem;
	float: right;
}

.personal_image img {
	border: 1px solid #ccc;
	width: 9.40rem;
	height: 11.25rem;
}

.personal_contacts {
	border: 1px solid #ccc;
	width: 33.60rem;
	height: 1.5rem;
	padding: 0;
	overflow: hidden;
}

.name {
	float: left;
	width: 12.50rem;
	height: 1.00rem;
}

.position {
	float: right;
	text-align: right;
	border: none;
	height: 1.00rem;
	width: 15.60rem;
	display: block;
}

.contacts {
	clear: both;
	padding: 0.75rem 0.40rem;
	cursor: default;
}
/* End of STAFF */

/* COLUMNS in index.html */
.divider {
	margin: 0.50rem 0;
	height: 2px;
	background: url(images/divider.gif) repeat-x scroll left top transparent;
	clear: left;
}
/*.divider-small { margin:8px 0px; height:2px; background:url(images/divider.gif) repeat-x scroll left top transparent; }*/
#columnWrapper {
	height: auto;
	margin: auto;
	background: url(images/divider-vertical-3-col.gif) repeat-y scroll 207px
		0 transparent !important;
	overflow: auto;
}

#columnWrapper h2 {
	padding-bottom: 4px;
}

#col1 {
	width: 12.50rem;
	float: left;
	margin-right: 0.40rem;
}

#col2 {
	width: 12.50rem;
	float: left;
	margin: 0 0.75rem;
}

#col3 {
	width: 12.50rem;
	float: left;
	margin-left: 0.40rem;
}

.date {
	display: block;
	font-weight: bold;
}

.punch {
	background: none repeat scroll 0 0 white;
	border-bottom: 2px solid #ccc;
	margin-bottom: 7px;
	padding-bottom: 4px;
}

.punch span {
	background: none repeat scroll 0 0 #003664;
	color: white;
	display: block;
	font-weight: bold;
	padding: 4px 7px;
}

.orange span {
	background: none repeat scroll 0 0 #db6d16;
}

.purple span {
	background: none repeat scroll 0 0 #B518B5;
}
/* End of COLUMNS in index.html */

/* publications table */
.paperTitle {
	font-style: italic;
	font-weight: bold;
	color: #db6d16;
}

.paperTitle:hover {
	text-decoration: underline;
}

.paperJnl {
	font-weight: bold;
	text-transform: uppercase;
}

.paperVol {
	font-style: italic;
}

#publicationYear {
	padding-top: 0.80rem;
}

.abstractButton {
	cursor: pointer;
	display: inline-block;
	width: 3.75rem;
	height: 1.25rem;
	background-color: #e4e4e4;
	border: 2px solid #ccc;
	text-align: center;
	color: #666;
	font-weight: bold;
}

#singlePubContainer {
	width: 100%;
	margin: 0 auto;
	color: #000; /*This is the font-color*/
	background-color: #fff;
}

.abstract {
	padding: 0.75rem;
	margin-bottom: 0.75rem;
	background-color: #e4e4e4;
	border: 1px solid #ccc;
	margin-top: 0.75rem;
	display: none;
	width: 100%;
	overflow: auto;
	float: right;
	/*Floats this column to the right, rather than positioning it*/
}
/*.abstract { display:none; width: 100%; height: 30px; background-color: #e4e4e4; border: 1px solid #ccc; margin-top: 10px; }*/
/* End of publications table */

/* PROBES2009 */
.probes2009 {
	max-width: 6.25rem;
	max-height: 6.25rem;
}

#partners {
	border: solid 2px #333;
	border-collapse: collapse;
	text-align: center;
}

#partners td, th {
	border: solid 1px #333;
	padding: 0.75rem;
}

#partners th {
	background-color: #ddd;
}
/* End of PROBES2009 */

/* PROBES2011 */
#lecture_notes {
	margin: auto;
	text-align: center;
	border: 1px solid #000;
	border-collapse: collapse;
}

#lecture_notes td {
	border: 1px solid #000;
	padding: 0.4rem;
}

#lecture_notes tr {
	border: 1px solid #000
}

#lecture_notes th {
	background-color: #ddd
}

#lecture_notes .lecture_title {
	font-weight: bold;
	text-align: center;
	padding: 0;
}

#lecture_notes .lecture_author {
	font-size: 80%;
	text-align: center;
	padding: 0;
}

#lecture_notes td.available {
	background-color: #cfc
}

#lecture_notes p.hour {
	text-align: center;
}
/* End of PROBES2011 */

/* HYPERPOLARIZATION */
#DNP-Box, #PHIP-Box {
	display: none;
}
/* End of HYPERPOLARIZATION */
div.hide {
	display: none;
	background-color: #ffc396;
	padding: 0.40rem;
	border-radius: 0.75rem;
}

li.myHoverPlace:hover > div.hide {
	display: block;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.table {
	display: table;
	width: 100%;
}

.firstCol {
	width: 33%;
}

.secondCol {
	width: 100%;
}

.tableCell {
	display: table-cell;
}

.tableRow {
	display: table-row;
}

.fullWidth {
	float: left;
	clear: both;
	width: 100%;
}

.quarterToFullWidth {
	width: 25%;
	float: left;
}

.imgInQuarterToFullWidth {
	width: 95%;
	height: auto;
	float: left;
	margin-right: 10px;
}

.threeQuarterToFullWidth {
	width: 75%;
	float: right;
}
span#oi-us-pai_title::before {
	content: "Optical / Ultrasound / Photoacoustic Instruments";
}
span#pet-spect-ct_title::before {
	content: "PET/SPECT/CT Instruments";
}
span#nmr-relax_title::before {
	content: "NMR and Relaxometry Instruments";
}
span#org-lab_title::before {
	content: "Organic Synthesis Laboratory";
}
span#cell-lab_title::before  {
	content: "Cellular Culture Laboratory";
}
span#B-Gd-BNCT_title::before  {
	content:
		"Boron and Gadolinium containing agents for Neutron Capture -Therapy"
}
span#PAI_title::before {
	content: "Photoacoustic Contrast Agents"
}
span#nano-micro_title::before {
	content: "Nano and micro systems for in vitro diagnostic"
}
span#infl_infect_title::before {
	content: "Inflammation & Infectious Diseases"
}
span#FFC-relax_title::before {
	content: "Fast Field Cycling Relaxometry in vitro and in vivo";
}

div.paddingInner > h1 > span#staff_title_1,
div.paddingInner > h1 > span#staff_title_2,
div.paddingInner > h1 > span#staff_title_3,
div.paddingInner > h1 > span#staff_title_4,
div.paddingInner > h1 > span#staff_title_5,
div.paddingInner > h1 > span#staff_title_6,
div.paddingInner > h1 > span#staff_title_7 {
	text-align: center
}

strong#imaging_enzyme_activity_title::before {
	content: "Imaging enzyme activity";
}

/* STYLE for index.php */
div.punch {
	text-align: center;
	font-size: 1.00rem;
	font-weight: bold;
	height: 2.00rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
div.punch.purple {
	background-color: #B518B5;
}
.home.paddingInner {
	height: 250px;
	margin-bottom: 20px;
}
.home.row {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
.home.cell, .home.cell.papers {
	flex: 25%;
	padding: 0 10px;
	margin: 0 auto 10px auto;
}
.home.cell a img {
	max-width: 99%;
	margin: auto;
}
.home.cell.papers > .w3-card {
	height: 100%;
	padding-top: 0.50rem;
}
.home.cell.papers > .w3-card > .w3-container > a > img {
	width: 100%;
}
/* END of STYLE for index.php */

/* STYLE for COST section */
.cost.paddingInner {
	display:flex;
	flex-direction: column;	
}
/* END of STYLE for COST section */

h11 {
	font-size: 36px
}
/*h13 {font-size:24px}*/
.research-topics {
	font-size: 18px;
	font-weight: bold;
	color: #db6d16;
	text-align: center;
}

h14 {
	font-size: 20px
}

h15 {
	font-size: 18px
}

h16 {
	font-size: 16px
}

h11, h14, h15, h16 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 8px 0
}

.PIName, .PIName > span {
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.researchImg {
	display: flex;
	justify-content: center;
}

.researchTitle {
	height: 65px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.mySlides {
	display: none
}

.animSlides, .animSlides2 {
	display: none
}

.myslides:hover {
	-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
	animation-play-state: paused;
}

/* RESEARCH */
.group-leaders-img {
	border: 2px solid black;
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
}
/*
@media screen and (min-width: 992px) {
	#section0, #section1, #section2, #section3, #section4, #section5,
		#section6, #section7, #section8, #sectionAutoDip {
		width: 75.00rem;
	}
	#publicationsContainer {
		padding-top: 1.90rem;
		width: 100%;
	}
	#content-larger {
		float: right;
		width: 60.00rem;
		line-height: 1.5rem;
		padding: 0;
	}
	#content-nosidebar {
		float: right;
		width: 70.00rem;
		line-height: 1.5rem;
		padding: 0;
	}
	#main-nav {
		height: 3.15rem;
	}
	#main-nav dt {
		height: 3.15rem;
	}
	#main-nav dt a {
		height: 3.15rem;
		line-height: 3.15rem;
	}
}
*/
/*
@media screen and (max-width: 991px) and (min-width: 737px) {
	#section0, #section1, #section2, #section3, #section4, #section5,
		#section6, #section7, #section8, #sectionAutoDip {
		width: 75.00rem;
	}
	#publicationsContainer {
		padding-top: 1.90rem;
		width: 100%;
	}
	#content-larger {
		float: right;
		width: 60.00rem;
		line-height: 1.5rem;
		padding: 0;
	}
	#content-nosidebar {
		float: right;
		width: 70.00rem;
		line-height: 1.5rem;
		padding: 0;
	}
	#main-nav {
		height: 3.15rem;
	}
	#main-nav dt {
		height: 3.15rem;
	}
	#main-nav dt a {
		height: 3.15rem;
		line-height: 3.15rem;
	}
}
*/
/*
@media screen and (max-width: 736px) {
	[id^="section"] {
		background-size: 23%;
	}
	#section7, #sectionAutoDip {
		width: 75.00rem;
	}
	#section0, 
	#section1, 
	#section2, 
	#section3, 
	#section4, 
	#section5, 
	#section6, 
	#section8 {
		width: 37.50rem;
	}
	[id^="content"] .paddingInner {
		padding: 0;
	}
	ul.research>li.research {
		width: 180px;
	}
	#publicationsContainer {
		padding-top: 1.90rem;
	}
	#content-larger {
		float: right;
		width: 60rem;
		line-height: 1.5rem;
		padding: 0;
	}
	#section0 [id^="subsection"] #content, 
	#section1 [id^="subsection"] #content, 
	#section2 [id^="subsection"] #content, 
	#section3 [id^="subsection"] #content, 
	#section4 [id^="subsection"] #content, 
	#section5 [id^="subsection"] #content {
		width: 80%;
	}
	#section0 [id^="subsection"] #sidebar, 
	#section1 [id^="subsection"] #sidebar, 
	#section2 [id^="subsection"] #sidebar, 
	#section3 [id^="subsection"] #sidebar, 
	#section4 [id^="subsection"] #sidebar, 
	#section5 [id^="subsection"] #sidebar {
		width: 20%;
	}
	#content-nosidebar {
		float: right;
		width: 32.5rem;
		line-height: 1.5rem;
		padding: 0;
	}
	.second_row {
		float: none !important;
	}
	#main-nav {
		height: 3.15rem;
	}
	#main-nav dt {
		height: 1.57rem;
	}
	#main-nav dt a {
		height: 1.57rem;
		line-height: 1.57rem;
	}
	#section0 #header, 
	#section1 #header, 
	#section2 #header, 
	#section3 #header, 
	#section4 #header, 
	#section5 #header, 
	#section6 #header,
	#section8 #header {
		height: 100px;
	}
	
	/* STAFF:PHP styles *//*
	ul.staff {
		width:400px;
	}
	li.staff {
	  max-height: 90px;
	  max-width: 90px;
	}
	li.staff a {
	font-size: 0.75rem;
	}
	/* End of STAFF:PHP styles *//*
	
	.w3-container .home {
		padding: 0;
	}
	strong#imaging_enzyme_activity_title::before {
		content: "Enzyme activity";
	}

	/* STYLE for index.php *//*
	div.punch {
		height: 3.60rem;
		font-size: 0.90rem;
	}
	.home.paddingInner {
		height: 200px;
	}
	.home.cell {
		margin-top: 1.00rem;
	}
	/* END of STYLE for index.php *//*
}
*//*
@media screen and (max-width: 451px) {
	html {
		margin: 0;
		background-color: #fff;
	}
	#main-nav, #sidebar {
		display: none;
	}
	#section7, #sectionAutoDip {
		width: 75.00rem;
	}
	#section0, #section1, 
	#section2, #section3, 
	#section4, #section5, 
	#section6, #section8 {
		width: 100%;
		border: none;
		background-image: none;
		top:100px;
	}
	#section0 [id^="subsection"] #content,
	#section1 [id^="subsection"] #content, 
	#section2 [id^="subsection"] #content, 
	#section3 [id^="subsection"] #content, 
	#section4 [id^="subsection"] #content {
		width: 95%;
	}
	[id^="content"] .paddingInner  {
		padding: 0;
	}
	ul.research  {
		padding: 0;
		justify-content: space-around;
	}
	ul.research>li.research {
		width: 150px;
	}
	ul.research>li.research img {
		margin-right: 0;
		width: 100%;
	}
	#publicationsContainer {
		padding-top: 1.90rem;
	}
	#pubSubSectOpen {
		position: fixed;
		top: 98px;
		width: 100%;
	}
	#content-larger {
		float: right;
		width: 100%;
		line-height: 1.5rem;
		padding: 0;
	}
	#content-nosidebar {
		float: right;
		width: 100%;
		line-height: 1.5rem;
		padding: 0;
	}
	#section0 #header, 
	#section1 #header, 
	#section2 #header, 
	#section3 #header, 
	#section4 #header, 
	#section5 #header, 
	#section6 #header,
	#section8 #header {
		height: 70px; 
		background-repeat: no-repeat;
		background-size: 100% auto;
		position: fixed;
		top: 40px;
	}
	.img_ind_partners {
		width: 100%;
	}
	.quarterToFullWidth, .threeQuarterToFullWidth {
		width: 100%;
		float: left;
		clear: both;
	}
	.imgInQuarterToFullWidth {
		width: 100%;
		height: auto;
		float: left;
		margin-right: 0;
		margin-bottom: 10px;
	}
	span#oi-us-pai_title::before {
		content: "OI/US/PAI";
	}
	span#pet-spect-ct_title::before {
		content: "PET/SPECT/CT";
	}
	span#nmr-relax_title::before {
		content: "NMR/Relaxometry";
	}
	span#org-lab_title::before {
		content: "Organic Lab";
	}
	span#cell-lab_title::before  {
		content: "Cell Lab";
	}
	span#B-Gd-BNCT_title::before {
		content: "Gd-B agents for BNCT";
	}
	span#PAI_title::before {
		content: "PAI Agents";
	}
	span#nano-micro_title::before {
		content: "Nano and micro systems";
	}
	span#infl_infect_title::before {
		content: "Inflammation & Infectious Diseases";
		font-size: 1.00rem;
	}
	span#FFC-relax_title::before {
		content: "FFC relaxometry";
	}
	#content .imgLeft {
		width: 100%;
	}
	.xnat-acknowledgements {
		flex:41%;
	}
	#hiddenBox {
		width: 85%;
	}
	.w3-container .home {
		padding: 0;
	}
	
	/* STAFF:PHP styles *//*
	ul.staff {
		width:350px;
	}
	li.staff {
	  max-height: 100px;
	  max-width: 100px;
	}
	li.staff a {
	font-size: 0.75rem;
	}
	/* STAFF:PHP styles */
	
	/* STYLE for index.php *//*
	.home.paddingInner {
		height: 185px;
	}
	/* END of STYLE for index.php */
	
	/* header *//*
	#header-mobile, #sidebar-mobile {
		display: block;
		background-color: #000;
		z-index: 3;
		position: fixed;
		width: 100%;
		height: 40px;
		top: 0;
	}
	#sidebar-mobile {
		z-index: 2; /* it has to be less than the z-index of #header-mobile*//*
		background-color: rgba(255,255,255,0.95);
		top: 110px;
		width: 9%;
	}
	#section0 #sidebar-mobile:has(.menu-btn:checked), 
	#section2 #sidebar-mobile:has(.menu-btn:checked), 
	#section4 #sidebar-mobile:has(.menu-btn:checked), 
	#section5 #sidebar-mobile:has(.menu-btn:checked) {
		width: 6rem;
	}
	#section3 #sidebar-mobile:has(.menu-btn:checked) {
		width: 9rem;
	}
	#section1 #sidebar-mobile:has(.menu-btn:checked) {
		width: 15rem;
	}
	
	#header-mobile ul, #sidebar-mobile ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		/*border-bottom: 3px solid #666;*//*
	}
	#sidebar-mobile ul {
		background-color: rgba(255,255,255,0.95);
	}
	#header-mobile li
	{
		height: 1.50rem;
		padding-left: 2.00rem;
	}
	#sidebar-mobile li {
		height: 1.50rem;
		padding-left: 1.00rem;
		background-color: rgba(255,255,255,0.95);
	}
	#header-mobile li a,
	#sidebar-mobile li a {
		display: block;
		text-decoration: none;
		font-size: 0.75rem;
		font-weight: bold;
		line-height: 1.00rem;
	}
	#sidebar-mobile li a {
		background-color:	transparent;
	}
	#header-mobile li a:hover, #header-mobile .menu-btn:hover,
	#sidebar-mobile li a:hover, #sidebar-mobile .menu-btn:hover {
		color: #db6d16;
		/*background-color: #f4f4f4;
		font-size: 1rem;
		font-weight: bold;*//*
	}
	#header-mobile .logo {
		color: white; 
		display : block;
		float: right;
		font-size: 1.00rem;
		font-weight: bold;
		padding: 10px 20px;
		text-decoration: none;
		display: block;
	}

	/* menu *//*
	#header-mobile .menu, #sidebar-mobile .menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}

	/* menu icon *//*
	#header-mobile .menu-icon, #sidebar-mobile .menu-icon {
		cursor: pointer;
		display: inline-block;
		float: left;
		padding: 18px 8px;
		position: relative;
		user-select: none;
	}
	#header-mobile .menu-icon .navicon, #sidebar-mobile .menu-icon .navicon {
		background: #999;
		display: block;
		height: 2px;
		position: relative;
		transition: background .2s ease-out;
		width: 18px;
	}
	#header-mobile .menu-icon .navicon::before, #header-mobile .menu-icon .navicon::after,
		#sidebar-mobile .menu-icon .navicon::before, #sidebar-mobile .menu-icon .navicon::after
		{
		background: #999;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
	}
	#header-mobile .menu-icon .navicon::before, 
	#sidebar-mobile .menu-icon .navicon::before {
		top: 5px;
	}
	#header-mobile .menu-icon .navicon::after, 
	#sidebar-mobile .menu-icon .navicon::after {
		top: -5px;
	}

	/* menu btn *//*
	#header-mobile .menu-btn, 
	#sidebar-mobile .menu-btn {
		display: none;
	}
	#header-mobile .menu-btn:checked ~ .menu {
		max-height: 12rem;
		background-color: #000;
	}
	#sidebar-mobile .menu-btn:checked ~ .menu {
		max-height: 40rem;
		background-color: transparent;
		padding-top: 2px;
	}
	#header-mobile .menu-btn:checked ~ .menu-icon .navicon, 
	#sidebar-mobile .menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}
	#header-mobile .menu-btn:checked ~ .menu-icon .navicon::before, 
	#sidebar-mobile .menu-btn:checked ~ .menu-icon .navicon::before {
		transform: rotate(-45deg);
	}
	#header-mobile .menu-btn:checked ~ .menu-icon .navicon::after, 
	#sidebar-mobile .menu-btn:checked ~ .menu-icon .navicon::after {
		transform: rotate(45deg);
	}
	#header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,		
		#header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after,  
		#sidebar-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
		#sidebar-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after  
		{                                                                           
		top: 0;                                                                     
	}                                                                               
}*/